<div class="about">
    <img class="avatar" style="float:left" src="{{contact.avatarUrl}}">
    <div class="title">
        {{contact.name}}
    </div>
    <div class="job">
        {{contact.jobTitle}}
    </div>
</div>
<ul class="contacts">
    <li><mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon">phone</mat-icon> {{contact.telephone}}</li>
    <li><mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon">mail</mat-icon>{{contact.email}}</li>
    <li><mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon">near_me</mat-icon>{{contact.address}}</li>
</ul>
<div class="clearfix"></div>
